    html {
        scroll-behavior: smooth;
        background-color: wheat;
    }
    .body {
        background-color: rgb(125, 73, 106);
        margin: 1rem 0 0 0;
    }
    
    .container-2 {
        margin-top: 1%;
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .container-2>img {
        margin-top: 1%;
        height: 12rem;
        width: 25rem;
    }
    
    .tittle {
        display: flex;
        flex-direction: row;
        gap: 0rem 1rem;
    }
    
    .day {
        
        font-size: 1rem;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        column-gap: 1.7rem;
        padding: 0 0 1rem 0;
        font-weight: bolder;
    }

    
    .cal {
        display: grid;
        grid-template-columns: repeat(7, 3fr);
        column-gap: 2px;
        row-gap: 2px;
        padding: 1rem 0 1rem 0;
    }
    
    .date {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 1.25rem;
        font-size: 1rem;
        text-align: center;
    }

    .today{
    background:#540262;
    color:white;
    font-weight:bold;
}
